src/main/mule/mule-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="efacbf12-06dd-456e-980b-e777e8d63b21" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="mule-ci-cdFlow" doc:id="c7ff996f-9570-4c79-bde5-a57f813cf645" >
		<http:listener doc:name="Listener" doc:id="90da07ab-89f8-4929-b00a-5076876ca623" config-ref="HTTP_Listener_config" path="/ci-cd"/>
		<ee:transform doc:name="Transform Message" doc:id="b3570c6d-2a8a-43bd-b682-73706a5f2be1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Welcome to Mule CI/CD Project"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eeb98bb0-2eb7-4910-a46a-eb410614a03a" message="#[payload]"/>
	</flow>
</mule>
